@page "/counter"

<h3>ParentComponent</h3>

<p>
    Current count: @_currentCount
</p>

<Counter SetCurrentCount="SetCurrentCount"></Counter>
@code {

    private int _currentCount;

    private void SetCurrentCount(int value)
    {
        _currentCount = value;
    }
}